<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

    <!-- Fontawesome -->
    <!-- <script src="https://kit.fontawesome.com/c8fd5239b9.js" crossorigin="anonymous"></script> -->
     <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <!-- ######## -->
    <!-- meta tags -->
    <meta name="author" content="AZUKA CHUKWUEBUKA STANLEY">
    <meta name="keywords" content="Lodge in Awka, rent,space, rooms , roomate">
    <meta name="description" content="Find the best lodge or roomate for your kids in unizik or anyone one moving into awka, go scroll through our site and pick the house that best fit your needs">    
    <meta name="twitter" content="stainlezzking">
    <!--  -->
        <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- ######### -->
    <style>
          /* font for banner_caption */
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');  
        *{
            box-sizing: border-box;
        }
        body{
            font-family: 'Carrois Gothic', sans-serif;
        }
        :root{
        --bg_color_light : rgba(50, 165, 184, 0.27);
        --bg_color : rgba(50, 165, 184)
        }
     .container{
         max-width: 750px !important;
        }
      .bg-color{
        background-color: var(--bg_color);
         }
      nav.bg-color-light{
          background-color:rgba(50, 165, 184) ;
        }
      .bg-color-light{
        background: rgb(50,165,184);
        background: linear-gradient(80deg, rgba(50,165,184,0.4), rgba(243,162,80,0.4));
        }
        .first-carousel{
            max-width: 550px;
        }
        #details_page_carousel .carousel-item {
            width: 100%;
            height: 40vh;
            max-height: 350px; 
        }
        #details_page_carousel .carousel-item img{
            width: 100%;
            height: 40vh;
            max-height: 100%;
        }
       

        #details_page_carousel .carousel-item:hover::before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
            background-color: rgb(0, 0, 0, 0.1);
        }
        #pop_up_details_page_carousel img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .advert_post{
            max-width: 400px;
            margin:0 auto ;
            background-color: white;
            height: 150px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: xx-large;
        }
        header, .padded{
            max-width: 550px; 
            margin: 0 auto;
        }
        #pop_up_details_page_carousel img {
            max-height: 70vh;
        }
        ul li.list-group-item {
            background-color: transparent;
        }
        body {
            background-color: var(--bg_color_light);
        }
        .initial-price::after, .sub-price::after{
            display: block;
            margin-top: .3rem;
            font-size: small;
            color: black;
        }
        .initial-price::after{
            content: "Initial Payment";
        }
        .all-price::after{
            content: "Amount";
            display: block;
            margin-top: .3rem;
            text-align: right;
            font-size: small;
            color: black;
        }
        .sub-price::after{
            content: "Sub Price";
        }
        section footer{
            background-color: transparent;
        }
    </style>
</head>
<body>
    <% const imageForAll = images.Picturepost.filter(pic=> pic.show && !pic.building) %>
    <% const imageForAgent = images.Picturepost.filter(pic=>  pic.building) %>
    <% console.log(imageForAgent.length) %>
       <nav class=" container align-items-center d-flex justify-content-between py-2 bg-color-light">
           <div class="back_arrow">
               <a href="javascript:history.back()">
                <svg class="text-white" style="color" width="15" viewBox="0 0 256 512"><!--! Font Awesome Pro 6.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path class="text-white" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
            </a>
           </div>
           <div class="nav-brand">
               <img src="../static/images/logo.png" height="30px" alt="unizik housing logo png">
           </div>
       </nav>

    <!-- make a little back arrow mark "<" floating on the image to go back page, make it have padding -->
    <div id="details_page_carousel" class="carousel first-carousel slide mx-auto mt-2" data-bs-ride="carousel">
        <div class="carousel-inner position-relative">
           <% imageForAll.forEach((pic, index)=>{ %>
                <div class="carousel-item"  data-bs-toggle="modal"  aria-current="true" aria-label="Slide 1" data-bs-slide-to="<%= index %>">
                    <img src="/images/<%=pic.filename%>" class="d-block img-fluid" alt="images of an apartment on in awka">
                  </div>
           <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#details_page_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#details_page_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

  <!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="pop_up_details_page_carousel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" data-bs-backdrop="false">
        <div class="modal-content bg-dark" >
          <div class="modal-header">
            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center">
            <div id="pop_up_details_page_carousel" class="carousel slide mx-auto" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                    <% imageForAll.forEach((pic, index)=>{ %>
                        <button type="button" data-bs-target="#pop_up_details_page_carousel" data-bs-slide-to="<% index %>"  aria-current="true" aria-label="Slide 1"></button>
                        <% }) %>
                </div>
                <div class="carousel-inner position-relative">
            <% imageForAll.forEach((pic, index)=>{ %>
                <div class="carousel-item"  data-bs-toggle="modal" data-bs-target="#pop_up_details_page_carousel">
                    <img src="/images/<%= pic.filename %>" class="d-block" alt="...">
                  </div>       
                <% }) %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<% console.log(space.sex) %>
<section class="details container mt-3 bg-color-light">
    <!-- apply that linear background here  -->
    <header class="d-flex justify-content-between py-2 flex-wrap ">
      <%  if(space.type == "room"){ %>
            <h2> <%= space.settings %></h2>
            <h2 class="fw-bold text-success initial-price">
                <%= space.price.initial.toLocaleString('en-US') %>
            </h2>
       <% }else{ %>
            <h2> <%= space.sex.toUpperCase() %> ROOMMATE</h2>
            <h2 class="fw-bold text-success all-price">
                <%= space.price.initial.toLocaleString('en-US') %>
            </h2>
      <%  } %>

        <!-- <small class="d-block w-100 text-right h6"> initial payment</small> -->

    </header>

    <div  class="d-flex justify-content-between py-2 padded align-items-baseline flex-wrap">
        <h5> ID : <small class="h6 d-block"><%= space._id %></small></h5>
        <!-- this input helps with copying the room ID -->
        <% if(space.type == "room") {%>
            <h2 class="fw-bold text-success sub-price"> <%= space.price.sub.toLocaleString('en-US') %></h2>
        <%}%>
    <!-- <small class="d-block w-100 ms-auto h6"> sub payments</small> -->

    </div>

      <!-- advert section -->
    <div class="advert p-2 position-relative w-100 mb-4">
        <div class="advert_post ">
          ADVERT
        </div>
    </div>
    <!-- ######## -->
<hr>
    <ul class="list-group">
        <li class="list-group-item text-center h3 mb-3 text-success"> AMENITIES</li>
        <% space.amenities.forEach(item=>{ %>
            <li class="list-group-item"> <%= item %></li>
       <% }) %>
       <li class="list-group-item"> located around : <%= space.junction %></li>

    </ul>
    <p class="desription mb-3">
        <h3 class="text-center text-success"> More details</h3>
        <%= space.description %>
    </p>
    <footer class="pb-4">
        <h3 class="text-center text-success">
            CONTACT
        </h3>
      
       <div class="d-flex justify-content-between mx-auto mb-2" style="max-width: 400px;">
        <a href="tel:09036442093" style="max-width: 200px;" class="btn btn-info d-block text-decoration-none text-white">
            <svg width="15" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
                09036442093
            </a>
           <a href="https://wa.link/85v10z" style="max-width: 200px;" class="btn btn-primary d-block text-decoration-none text-white">
            <i class="fa-brands fa-whatsapp text-success"></i>
             open whatsapp
            </a>
       </div>
       <ul class="text-dark flush p-0 border-0">
           <li class="list-group-item title h5"> Contact us</li>
           <li class="list-group-item">if you need an a room-mate or a room</li>
           <li class="list-group-item"> if you would like to book this space</li>
           <li class="list-group-item"> for more informartions about this space, like proximity to school</li>
           <li class="list-group-item">If you would like to go inspect this space or any space on our website</li>
           <li class="list-group-item"> To book our agent to take you around to see lodges of your choice</li>
           <li class="list-group-item"> referrence a space to our agent through the space ID</li>
           <li class="list-group-item"> About our policy</li>
       </ul>
       <p class="text-danger"> Note  only use the numbers from our site to contact our agents, don't fall for impersonators, as we would not be held liable for any loss</p>
 
    </footer>
    <!-- <div class="video_tag mx-auto padded py-3">
        <h3 class="text-center text-success"> Video of the apartment</h3>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/5OJ_5aS-PdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
    <!-- ######## -->
        

</section>
    
   <% if(user){ %>
<section id="agent_views py-5 my-4" class="container">
        <% if(user.agent.level){ %>
            <% if(space.type == "room"){ %>
            <div id="agent_page_carousel" class="carousel first-carousel slide mx-auto mt-2" data-bs-ride="carousel">
                <div class="carousel-inner position-relative">
                   <% imageForAgent.forEach((pic, index)=>{ %>
                        <div class="carousel-item"  data-bs-toggle="modal"  aria-current="true" aria-label="Slide 1" data-bs-slide-to="<%= index %>">
                            <img src="/images/<%=pic.filename%>" class="d-block img-fluid" alt="images of an apartment on in awka">
                          </div>
                   <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#agent_page_carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#agent_page_carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>
            <ul class="list-group ">
                <li class="list-group-item"> Lodge Name : <%= space.lodgeName %></li>
                <li class="list-group-item"> Caretaker Name : <%= space.careTname %></li>
                <li class="list-group-item"> Caretaker : <%= space.careTnum %></li>
                <li class="list-group-item"> Available : <%= space.Available %></li>
                <li class="list-group-item"> Location : <%= space.location %></li>
            </ul>
            <% } %>
            <% if(space.type == "roomate"){%>
                <ul class="list-group ">
                    <li class="list-group-item"> NAME : <%= space.name %></li>
                    <li class="list-group-item"> Lodge Name : <%= space.lodgeName %></li>
                    <li class="list-group-item"> number : <%= space.number %></li>
                    <li class="list-group-item"> Available : <%= space.Available %></li>
                    <li class="list-group-item"> Location : <%= space.location %></li>
                </ul>
            <%}%>
      <% } %>
</section>
    <%}%>
    <%- include("./partials/footer") -%>
<!-- make modal pop up for images that are clicked on -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    // make the first pic active
    document.querySelector("#details_page_carousel .carousel-item").classList.add("active")
    document.querySelector("#agent_page_carousel .carousel-item").classList.add("active")

        var myModal = new bootstrap.Modal(document.getElementById('myModal'))
        document.querySelectorAll("#details_page_carousel .carousel-item").forEach(picture=>{
            picture.addEventListener("click", function(event){
                myModal.show()
                console.log(picture.getAttribute("data-bs-slide-to"))
                document.querySelectorAll("#pop_up_details_page_carousel .carousel-item").forEach(item=> item.classList.remove("active"))
                document.querySelectorAll("#pop_up_details_page_carousel .carousel-item")[event.target.getAttribute("data-bs-slide-to")].classList.add("active")
            })
        })
    </script>
</body>
</html>